@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/HelveticaNeueCyr-Light.woff2),
    url(../fonts/HelveticaNeueCyr-Light.woff);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/HelveticaNeueCyr-Roman.woff2),
    url(../fonts/HelveticaNeueCyr-Roman.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/HelveticaNeueCyr-Medium.woff2),
    url(../fonts/HelveticaNeueCyr-Medium.woff);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}




