@media screen and (max-width: 1199px) {
    .header__wrap__right__search__form__inner__input {
        width: 500px;
    }

    .menu {
        width: 45%;
    }

    .promo__wrap {
        height: 664px;
    }

    .promo__wrap__inner__slide__photo {
        height: 664px;
    }

    .promo__wrap__inner__slide__content__title__text {
        font-size: 80px;
    }

    .promo-main .promo__control {
        bottom: 20px;
    }

    .footer__wrap__content__link {
        font-size: 10px;
    }

    .footer__wrap__content__divider {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
    }

    .filter {
        width: 45%;
    }

    .card__wrap__info__btns__buy {
        width: 360px;
        padding: 19px 45px;
    }

    .fashion__wrap .swiper-container2 .fashion__wrap__inner__content__item {
        width: 32% !important;
    }

    .cart__wrap__inner__item__left__info__total__counter {
        margin-top: 44px;
    }

}