@media screen and (max-width: 575px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__wrap__left__hamburger {
        margin-right: 25px;
    }

    .header__wrap__left__logo {
        width: 120px;
        height: 30px;
    }

    .header__wrap__left__hamburger span:not(:last-child) {
        margin-bottom: 4px;
    }

    .header__wrap__left__hamburger span {
        width: 20px;
    }

    .menu {
        width: 100%;
    }

    .menu__inner__close {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 25px;
    }

    .promo {
        padding-top: 0;
        height: 100vh;
    }

    .promo__wrap {
        height: 100vh;
    }

    .promo__wrap__inner__slide__photo {
        // height: 500px;
        height: 100vh;
    }

    .promo__wrap__inner {
        transition: 0.5s ease-in !important;
    }

    .header__wrap__right__search__icon {
        display: none;
    }

    .header__wrap__right__search__form {
        display: none;
    }

    .header__wrap__right__account {
        display: none;
    }

    .header__wrap__right {
        margin-top: 6px;
    }

    .header__wrap__right__favorite {
        margin-right: 30px;
    }

    .menu__inner__mob-nav {
        display: flex !important;
    }

    .menu {
        padding-top: 20px;
    }

    .menu__inner__close__icon {
        width: 20px;
        height: 20px;
    }

    .footer__wrap__content {
        flex-wrap: wrap;
    }

    .footer__wrap__content__link {
        font-size: 11px;
    }

    .footer__wrap__content__link {
        margin-bottom: 15px;
    }

    .footer__wrap__content__divider {
        margin-bottom: 15px;
        font-size: 11px;
    }

    .menu__inner__mob-nav {
        margin-right: 50px;
    }

    .promo-main .promo__control__navigation .prev-slider1 {
        margin-right: 15px;
    }

    .promo-main .promo__control__navigation .prev-slider1:hover {
        transform: scale(1);
    }

    .promo-main .promo__control__navigation .next-slider1:hover {
        transform: scale(1);
    }

    .promo__wrap__inner__slide__content  {
        margin-top: 200px;
        display: none;
    }

    .footer {
        padding-bottom: 0;
    }

    #searchFormInputMob {
        display: none;
    }

    .photo-main-1 {
        display: none;
    }

    .photo-main-2 {
        display: none;
    }

    .photo-main-3 {
        display: none;
    }

    .photo-main-desktop {
        display: none;
    }

    .promo .next-slider1 .promo__control__navigation__icon-right {
        width: 20px;
        height: 20px;
    }

    .promo .prev-slider1 .promo__control__navigation__icon-left {
        width: 20px;
        height: 20px;
    }

    .promo .prev-slider1 {
        left: 0px;
    }

    .promo .next-slider1 {
        right: 0px;
    }

    .promo__wrap__inner__slide__photo-mob {
        display: block;
        height: 100vh;
    }

    .filter {
        width: 100%;
        padding-top: 70px;
    }

    .filter__inner__close {
        width: 20px;
        height: 20px;
        top: 20px;
        right: 25px;
    }

    .filter__inner__nav__item .accordion__control .filter__accordion__control__title {
        font-size: 14px;
    }

    .products__head__filter__icon {
        width: 15px;
        height: 15px;
    }

    .products__head__sort__inner__title {
        margin-right: 5px;
    }

    .products__wrap__item__content {
        margin-top: 5px;
    }

    .filter {
        overflow: hidden !important;
    }

    .divider-footer-other {
        display: none;
    }

    .third-divider-footer {
        display: none;
    }

    .footer__wrap__content-other {
        flex-direction: column;
        align-items: baseline;
    }

    .news__wrap__single__item {
        width: 100%;
    }

    .news__wrap__two__item {
        width: 48%;
    }

    .news__wrap__two__item:first-child {
        margin-right: 0;
    }

    .news__wrap__two {
        justify-content: space-between;
    }

    .news__wrap__two__item__info {
        flex-direction: column;
        align-items: baseline;
    }

    .news__wrap__two__item__info__title {
        width: 100%;
    }

    .news__wrap__two__item__info__price {
        margin-top: 8px;
    }

    .news__wrap__two {
        margin-top: 100px;
    }

    .news__wrap__single {
        margin-top: 100px;
    }

    .news__wrap__full {
        margin-top: 100px;
    }

    .swiper-slide .card__wrap__gallery__bar__inner__photo {
        width: 60px !important;
    }

    .mySwiper1 .swiper-slide {
        width: 60px !important;
    }

    .card {
        padding-top: 100px;
    }

    .card-swiper-btn-next-icon {
        width: 25px;
        height: 25px;
    }

    .card-swiper-btn-prev-icon {
        width: 25px;
        height: 25px;
    }

    .card__wrap__info__btns__buy {
        width: 75%;
    }

    .card__wrap__info__btns {
        justify-content: space-between;
    }

    .card__wrap__info__data__item__accordion__control__title {
        font-size: 15px;
    }

    .header__wrap__right__favorite__count {
        width: 18px;
        height: 18px;
    }

    .header__wrap__right__cart__count {
        width: 18px;
        height: 18px;
        top: -1px;
    }

    .header__wrap__right__favorite__count__number {
        margin-top: 2px;
        font-size: 10px;
    }

    .header__wrap__right__cart__count__number {
        margin-top: 2px;
        font-size: 10px;
    }

    .header__wrap__right__cart__icon {
        width: 19px;
        height: 19px;
    }

    .header__wrap__right__favorite__icon {
        width: 18px;
        height: auto;
    }

    .fashion-pagination {
        display: block;
    }

    .fashion__wrap__prev-btn {
        display: none;
    }

    .fashion__wrap__next-btn {
        display: none;
    }

    .fashion__wrap {
        margin-left: 0;
        margin-right: 0;
    }

    .news__wrap__single__item__info__price {
        transform: translateY(-2px);
    }

    .news__wrap__full__item__info__price {
        transform: translateY(-2px);
    }

    .cart {
        padding-top: 100px;
    }

    .cart__wrap__inner__item__left__info__title__name {
        font-size: 16px;
    }

    .cart__wrap__inner__item__left__info__total__price {
        font-size: 17px;
    }

    .cart__wrap__inner__item__left__info__total__price span {
        font-size: 17px;
    }

    .cart__wrap__inner__item__left__info__total__counter {
        margin-top: 15px;
    }

    .cart__wrap__inner__item__left__info__action__favorites__icon {
        width: 16px;
        height: 16px;
    }

    .cart__wrap__inner__item__left__info__action__favorites__text {
        font-size: 13px;
        margin-top: 2px;
    }

    .cart__wrap__inner__item__left__info__action__delete__icon {
        height: 14px;
    }
    
    .cart__wrap__inner__item__left__info__action__delete__text {
        font-size: 13px;
        margin-top: 2px;
    }

    .cart__wrap__inner__item__left__info__action__favorites {
        margin-right: 14px;
    }

    .cart__wrap__inner__item__left__info {
        margin-left: 15px;
    }

    .cart__wrap__inner__total__info__title {
        font-size: 20px;
    }

    .cart__wrap__inner__item__left__info__total__counter__control {
        padding-bottom: 0;
    }

    .cart__wrap__inner__item__left__info__action {
        justify-content: space-between;
    }

    .delivery__title-mob {
        font-size: 18px;
    }

    .delivery__wrap__products__cart .delivery__accordion__control {
        margin-top: 20px;
    }

    .delivery__wrap__products__cart .delivery__accordion__control__right__price {
        font-size: 20px;
    }

    .delivery__wrap__products__cart .delivery__accordion__control__right__price span {
        font-size: 20px;
    }

    .delivery__wrap__products__cart .delivery__accordion__control__left {
        align-items: baseline;
    }

    .delivery__wrap__products__cart .delivery__accordion__control__left__icon {
        width: 19px;
        height: 19px;
        transform: translateY(1px);
    }

    .delivery__accordion__control__left__arrow {
        transform: translateY(-2px);
    }

    .delivery__wrap__contacts__form__item__input {
        padding: 12px 10px 10px 10px;
    }

    .delivery__wrap__contacts__form__item__select {
        padding: 10px 10px 10px 10px;
    }

    .delivery__wrap__contacts__form__home__item__input {
        padding: 12px 10px 10px 10px;
    }

    .delivery__wrap__products__cart .delivery__accordion__control {
        padding: 15px 15px;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__info__name {
        font-size: 14px;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__info {
        flex-direction: column;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__photo {
        width: 25%;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__info__price span {
        font-size: 15px;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__info {
        width: 70%;
    }

    .footer-contacts {
        border-top: 1px solid #EDEDED;
    }

    .footer-privacy {
        border-top: 1px solid #EDEDED;
    }

    .privacy__title {
        font-size: 18px;
    }

    .privacy__subtitle {
        margin-top: 30px;
        font-size: 15px;
    }

    .privacy__title-2 {
        font-size: 22px;
    }

    .card__wrap__info__price {
        font-size: 18px;
    }

    .card__wrap__info__title {
        font-size: 18px;
    }

    .card__wrap__info__vendor {
        font-size: 12px;
    }

    .card__wrap__info__size__res {
        font-size: 15px;
    }

    .notification {
        top: 60px;
        right: 20px;
    }
    
    .notification__wrap__item-add__text {
        font-size: 14px;
    }

    .notification__wrap__item-delete__text {
        font-size: 14px;
    }
    
    .notification__wrap__item-add {
        padding: 12px 15px 10px 15px;
    }

    .notification__wrap__item-delete {
        padding: 12px 14px 10px 14px;
    }

    .notification__wrap__item-add__icon {
        width: 12px;
        transform: translateY(-2px);
        margin-right: 7px;
    }
}