@media screen and (max-width: 767px) {
    .promo {
        // padding-top: 54px;
        padding-top: 0;
    }
    .promo__wrap {
        // height: 375px;
        height: 100vh;
    }

    .promo__wrap__inner__slide__photo {
        // height: 375px;
        height: 100vh;
    }

    .promo__wrap__inner__slide__content {
        display: none;
    }

    .photo-main-1 {
        display: none;
    }

    .photo-main-2 {
        display: none;
    }

    .photo-main-3 {
        display: none;
    }

    .photo-main-desktop {
        display: none;
    }

    .promo__wrap__inner__slide__photo-mob {
        display: block;
        height: 100vh;
    }

    .promo__wrap__inner__slide__content {
        margin-top: 40vh;
        padding-right: 70px;
    }

    .promo__wrap__inner__slide__content__title__text {
        font-size: 48px;
    }

    .promo__wrap__inner__slide__content__subtitle__text {
        font-size: 28px;
    }

    .promo__control__navigation__prev {
        width: 20px;
    }

    .promo__control__navigation__next {
        width: 20px;
    }

    .promo-main .promo__control__pagination {
        font-size: 20px;
    }

    .header__wrap__left__logo {
        width: 120px;
        height: 30px;
    }

    .promo-main .promo__control__navigation .prev-slider1 {
        width: 40px;
        height: 40px;
    }

    .promo-main .promo__control__navigation .next-slider1 {
        width: 40px;
        height: 40px;
    }

    .promo .prev-slider1 {
        left: 15px;
    }

    .promo .next-slider1 {
        right: 15px;
    }

    .footer__wrap__title {
        font-size: 14px;
    }

    .footer__wrap__social {
        margin-top: 30px;
    }

    .footer__wrap__content {
        margin-top: 50px;
    }

    .footer__wrap__content__link {
        font-size: 9px;
    }

    .menu__inner {
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu__inner__title {
        font-size: 15px;
    }

    .menu__inner__nav__item__link {
        font-size: 14px;
    }

    .menu__inner__nav__item .accordion__control .menu__accordion__control__title {
        font-size: 14px;
    }

    .menu__inner__nav__item .accordion .accordion__content .menu__accordion__content__list__item__link {
        font-size: 12px;
    }

    .header__wrap__right__search__form__inner__input {
        width: 350px !important;
    }

    .products__wrap {
        grid-template: 1fr / 48% 48%;
    }

    .filter__inner {
        padding-left: 25px;
        padding-right: 25px;
    }

    .filter__inner__header__title {
        font-size: 15px;
    }

    .filter__inner__nav__item .accordion__control .filter__accordion__control__title {
        font-size: 13px;
    }

    .filter__accordion__content__range__inputs__field__zone {
        font-size: 13px;
    }

    .filter__inner__nav__item .accordion .accordion__content .filter__accordion__content__list__form__item__title {
        font-size: 12px;
    }

    .filter__inner__header__reset {
        font-size: 12px;
    }

    .footer {
        padding-bottom: 0;
    }

    .news__wrap__single__item {
        width: 60%;
    }

    .news__wrap__two__item {
        width: 45%;
    }

    .news__wrap__full__item {
        width: 100%;
    }

    .card__wrap {
        flex-direction: column;
    }

    .card__wrap__gallery {
        width: 100%;

    }

    .swiper-slide .card__wrap__gallery__bar__inner__photo {
        width: 100px !important;
        height: auto;
    }

    .mySwiper1 .swiper-slide {
        width: 100px !important;
        height: auto;
    }

    .card__wrap__info {
        width: 100%;
        margin-top: 20px;
    }

    .card__wrap__info__vendor {
        font-size: 13px;
    }

    .mySwiper1 {
        margin-top: 5px;
    }

    .card__wrap__info__title {
        font-size: 24px;
        margin-top: 15px;
    }

    .card__wrap__info__price {
        font-size: 24px;
        margin-top: 5px;
    }

    .card__wrap__info__size__res {
        margin-top: 20px;
    }

    .card__wrap__info__btns {
        justify-content: flex-start;
    }

    .card__wrap__info__btns__buy {
        width: 360px;
    }

    .card__wrap__info__data {
        margin-top: 40px;
    }

    .card__wrap__info__data__item__accordion__control__title {
        font-size: 14px;
    }

    .fashion__wrap .swiper-container2 .fashion__wrap__inner__content__item {
        width: 48% !important;
    }

    .fashion__wrap__next-btn__icon {
        width: 40px;
        height: 40px;
    }

    .fashion__wrap__prev-btn__icon {
        width: 40px;
        height: 40px;
    }

    .cart {
        padding-top: 120px;
    }

    .cart__wrap__inner__item__left__info__title__name {
        font-size: 20px;
    }

    .cart__wrap__inner__item__right__counter {
        margin-top: 44px;
    }

    .cart__wrap__inner__item__left__info {
        margin-left: 25px;
    }

    .cart__wrap__inner__item__left__info__action__favorites {
        margin-right: 25px;
    }

    .cart__wrap__inner__item__left__info__total {
        position: relative;
        align-items: baseline;
    }

    .cart__wrap__inner__item__left__info__action {
        order: 3;
    }

    .cart__wrap__inner__item__left__info__total__counter {
        margin-top: 20px;
    }

    .cart__wrap__inner__item__left__info__total {
        order: 2;
        margin-top: 25px;
    }

    .cart__wrap__inner__total {
        margin-top: 20px;
    }

    .delivery__wrap__contacts__title {
        display: none;
    }

    .delivery__title-mob {
        display: block;
    }

    .delivery__wrap__contacts {
        order: 2;
        width: 100%;
        margin-right: 0;
        border-right: none;
        padding-right: 0;
    }

    .delivery__wrap {
        flex-direction: column;
    }

    .delivery__wrap__products {
        width: 100%;
        margin-left: 0;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__photo {
        width: 20%;
    }

    .delivery__wrap__products__cart .delivery__accordion__content__wrap__item__info {
        width: 75%;
        flex-direction: row;
    }

    .delivery__wrap__products__cart .delivery__accordion__content {
        margin-top: 20px;
        max-height: 0;
    }

    .delivery__wrap__products__cart .delivery__accordion__control {
        display: flex;
        margin-top: 30px;
    }

    .delivery__wrap__contacts__form__item__label {
        font-size: 14px;
    }

    .delivery__wrap__contacts__form__item__name {
        font-size: 14px;
    }

    .delivery__wrap__contacts__form__home__item__label {
        font-size: 14px;
    }

    .delivery__wrap__contacts__form__item-check label {
        font-size: 15px;
    }

}