.news {
    position: relative;
    padding-top: 150px;
    &__wrap {
        position: relative;
        .news__wrap__item__exception {
            margin-top: 0;
        }
        &__single {
            margin: 0 auto;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
            &__item {
                width: 37%;
                overflow: hidden;
                text-align: center;
                align-items: center;
                &__photo {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                &__info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    &__title {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: left;
                        width: 65%;
                    }
                    &__price {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: right;
                    }
                }
            }
        }
        &__two {
            margin: 0 auto;
            margin-top: 120px;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            &__item {
                width: 27%;
                overflow: hidden;
                text-align: center;
                align-items: center;
                &:first-child {
                    margin-right: 6%;
                }
                &__photo {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                &__info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    &__title {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: left;
                        width: 65%;
                    }
                    &__price {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: right;
                    }
                }
            }
        }
        &__full {
            margin: 0 auto;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
            &__item {
                width: 74%;
                overflow: hidden;
                text-align: center;
                align-items: center;
                &__photo {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                &__info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    &__title {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: left;
                        width: 65%;
                    }
                    &__price {
                        font-size: 13px;
                        text-transform: uppercase;
                        @include dark;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        text-align: right;
                    }
                }
            }
        }
    }
}